<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据分析</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>

	<script src = "../js/base.js"></script>
	<script src="../js/service/analysisService.js"></script>
	<script src="../js/controller/analysisController.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="xiajiwangluo" ng-controller="analysisController" ng-init="findWorst()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">销售黑榜</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
									<div class="btn-group" ng-model="DA_list.type">
										<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
									</div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
									销售类型：	<select ng-model="DA_list.type">
												<option value="num">销售数量</option>
												<option value="price">销售价格</option>
												<option value="profit">销售利润</option>
											</select>
									销售时间：<input ng-model="DA_list.data" type="date" value=""/>
									<button class="btn btn-default" ng-click="findWorst()">查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
										  <!--<th class="" style="padding-right:0px">
											  <input id="selall" type="checkbox" class="icheckbox_square-blue">
										  </th>-->
										  <th class="sorting_asc">商品名称</th>
									      <th class="sorting">条形码</th>
									      <th class="sorting">销售价格</th>
									      <th class="sorting">进价</th>
										  <th class="sorting">规格</th>
										  <th class="sorting">单位</th>
									      <th class="sorting">销售总{{type}}</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                             <!-- <td><input  type="checkbox"></td>			            -->
				                          <td>{{entity.title}}</td>
									      <td>{{entity.url}}</td>
										  <td>{{entity.price}}</td>
										  <td>{{entity.purchase}}</td>
									      <td>{{entity.norms}}</td>
									      <td>{{entity.danwei}}</td>
									      <td>{{entity.sum}}</td>

			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
		
</body>

</html>